$blue: #00A7C7;
$black: #001C21;
$orange: #FEAB6B;
$grey: #F3E9E7;

%pt-400 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

%pt-700 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}
%oswald-400 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

%oswald-600 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}